
.wrapper
  {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
.phone
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: coral;
    flex: 1;

}
.row-1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
}
.app-1
{
min-height: 100px;
min-width: 100px;
background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/b/b5/Edward85as.JPG/200px-Edward85as.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;


}
.app-2
{
  min-height: 100px;
    min-width: 100px;
    background-image: url(https://static.wikia.nocookie.net/tensei-shitara-slime-datta-ken/images/3/34/Rimuru_Slime_Anime.png/revision/latest?cb=20180922214304);
    background-size: cover;
    background-repeat: no-repeat;

}
.app-3
{
  min-height: 100px;
    min-width: 100px;
    background-image: url(https://static.wikia.nocookie.net/p__/images/b/b3/Yuji_Itadori_Manga.jpg/revision/latest?cb=20201203072956&path-prefix=protagonist);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-4
{
  min-height: 100px;
    min-width: 100px;
    background-image: url(https://openpsychometrics.org/tests/characters/test-resources/pics/CBP/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.row-2
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:10px;
}
.app-5
{
    min-height: 100px;
    min-width: 100px;
    background-image: url(http://pm1.narvii.com/7138/fbb92eddfde2c200d6d691b56b89450334dd89f7r1-225-350v2_00.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-6
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://i.pinimg.com/originals/d5/c3/2a/d5c32a3eaef04a183496efafc01c5d36.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-7
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://static.wikia.nocookie.net/bakemonogatari1645/images/3/32/H002.jpg/revision/latest/top-crop/width/300/height/300?cb=20161115053428);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-8
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://www.anime-planet.com/images/characters/celty-sturluson-4168.jpg?t=1600347152);
  background-size: cover;
  background-repeat: no-repeat;
}
.row-3
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:10px;
}
.app-9
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://pbs.twimg.com/profile_images/1359299696464912384/yF59pRq8_400x400.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-10
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://i.pinimg.com/originals/1f/af/39/1faf39bda4650eb1507cee6148832c05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-11
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://pbs.twimg.com/profile_images/464580457003102208/nNcp2I8v_400x400.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-12
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/0/06/SoulEaterDVD.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.row-4
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:10px;
}
.app-13
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/71ovVNzuE4L._AC_SY679_.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-14
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/e/e0/Nijū_Mensō_no_Musume.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-15
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://static.wikia.nocookie.net/fairytail/images/6/66/Natsu_2018.png/revision/latest/scale-to-width-down/340?cb=20180821153623);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-16
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6ec3d9d1-c70e-4439-9eaa-102ad282af64/d569nfp-3ec5cf45-a386-450d-8d20-ed9cf853195d.png/v1/fill/w_900,h_1719,strp/revy___black_lagoon_render_by_blueskyline16_d569nfp-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNzE5IiwicGF0aCI6IlwvZlwvNmVjM2Q5ZDEtYzcwZS00NDM5LTllYWEtMTAyYWQyODJhZjY0XC9kNTY5bmZwLTNlYzVjZjQ1LWEzODYtNDUwZC04ZDIwLWVkOWNmODUzMTk1ZC5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.kN_C2-Y10stgzF1FFAofmtbDX9ylO-WQd5uWa7SHWkw);
  background-size: cover;
  background-repeat: no-repeat;
}
.row-5
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:10px;
}
.app-17
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://static.wikia.nocookie.net/konosuba/images/3/3f/Megumin-anime.png/revision/latest?cb=20180328143334);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-18
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://i.redd.it/n8x8qp9yxrz51.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-19
{
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://static.wikia.nocookie.net/towerofgod/images/2/26/BaamS3Ch64.png/revision/latest?cb=20200604164221);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-20
{
  
  min-height: 100px;
  min-width: 100px;
  background-image: url(https://static.wikia.nocookie.net/bleach/images/c/c1/Chap591Pg1IchigoCharaPic.png/revision/latest/top-crop/width/200/height/200?cb=20190307224056&path-prefix=en);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-1:hover,.app-2:hover,.app-3:hover,.app-4:hover,.app-5:hover,.app-6:hover,.app-7:hover,.app-8:hover,.app-9:hover,.app-10:hover,.app-11:hover,.app-12:hover,.app-13:hover,.app-14:hover,.app-15:hover,.app-16:hover,.app-17:hover,.app-18:hover,.app-19:hover,.app-20:hover
{
  
  background-image: url(https://pngimg.com/uploads/circle/circle_PNG62.png);
}
.back{
  background: black;
  min-height: 100px;
  min-width: 100px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 20px;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: lightseagreen;
}

/* selected link */
a:active {
  color: blue;
}