
.wrapper
{
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.page
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: coral;
  flex: 1;

}
.navigation
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:10px;
}
.app-0
{
  min-height: 100px;
  min-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.app-1
{
min-height: 100px;
min-width: 100px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;


}
.app-2
{
min-height: 100px;
  min-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;

}
.app-3
{
min-height: 100px;
  min-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}
h1
{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
    flex: 1;
}