
#ball {
  width: 10px;
  height: 10px;
  margin: 100px auto;
  position: relative;
  background: black;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  0% {
    top: 0px;
  }
  50% {
    top: 500px;
    width: 130px;
    height: 130px;
    background-color: red;
  }
  100% {
    top: 0px;
  }
}
